/classes/
/node_modules/
/src/main/resources/static/
/src/main/resources/templates/
/target/
/vue/node_modules/
/vue/dist/
/.idea/artifacts/
/.idea/libraries/
/.idea/hotswap_agent.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/webContexts.xml
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/uiDesigner.xml
/.classpath
/*.iml
/**/*.iml
