<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
  <springProfile name="dev, prod">
    <property name="LOG_DIR" value="/logs"/>
    <appender name="SENTRY" class="io.sentry.logback.SentryAppender"/>
    <appender name="DEBUG_FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIR}/debuglog.log</file>
      <append>true</append>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/debug-%d{yyyyMMdd}.log</fileNamePattern>
        <maxHistory>10</maxHistory>
      </rollingPolicy>
      <withJansi>true</withJansi>
      <encoder>
        <pattern>
          <!-- @formatter:off -->
          %d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%t]) %-75.75cyan(%c{1}.%M\(%L\)) %m%n
          <!-- @formatter:on -->
        </pattern>
      </encoder>
    </appender>
    <appender name="ERR_FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>WARN</level>
      </filter>
      <file>${LOG_DIR}/errlog.log</file>
      <append>true</append>
      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>${LOG_DIR}/error-%d{yyyyMMdd}.log</fileNamePattern>
        <maxHistory>10</maxHistory>
      </rollingPolicy>
      <withJansi>true</withJansi>
      <encoder>
        <pattern>
          <!-- @formatter:off -->
          %d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%t]) %-75.75cyan(%c{1}.%M\(%L\)) %m%n
          <!-- @formatter:on -->
        </pattern>
      </encoder>
    </appender>
  </springProfile>
  <springProfile name="local">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <withJansi>true</withJansi>
      <encoder>
        <pattern>
          <!-- @formatter:off -->
          %d{HH:mm:ss.SSS} %highlight(%-5level) %magenta([%t]) %-75.75cyan(%c{1}.%M\(%L\)) %m%n
          <!-- @formatter:on -->
        </pattern>
      </encoder>
    </appender>
  </springProfile>

  <logger name="org.springframework" level="INFO"/>
  <logger
    name="org.springframework.web.servlet.mvc.method.annotation.RequestResponseBodyMethodProcessor"
    level="INFO"/>
  <logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"
    level="WARN"/>
  <logger name="logging.level.org.springframework.web.filter" level="DEBUG"/>
  <logger name="_org.springframework.web" level="INFO"/>

  <logger name="org.apache.ibatis" level="INFO"/>
  <logger name="org.apache.commons.beanutils" level="INFO"/>

  <logger name="com.zaxxer.hikari.pool" level="INFO"/>
  <logger name="org.jdbcdslog" level="INFO"/>
  <logger name="org.jdbcdslog.StatementLogger" level="INFO"/>
  <logger name="org.jdbcdslog.ResultSetLogger" level="INFO"/>
  <logger name="org.mybatis.spring" level="INFO"/>

  <logger name="com.github.bestheroz.standard.common.mybatis.SqlCommand" level="ALL"/>

  <root level="DEBUG">
    <springProfile name="dev">
      <appender-ref ref="DEBUG_FILE_LOG"/>
      <appender-ref ref="ERR_FILE_LOG"/>
      <appender-ref ref="SENTRY"/>
    </springProfile>
    <springProfile name="local">
      <appender-ref ref="STDOUT"/>
    </springProfile>
  </root>

</configuration>
