<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//www.mybatis.org//DTD Config 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeHandlers>
        <typeHandler handler="com.github.bestheroz.standard.common.mybatis.typehandler.ListTypeHandler"/>
        <typeHandler handler="com.github.bestheroz.standard.common.mybatis.typehandler.SetTypeHandler"/>
    </typeHandlers>

</configuration>
