.v-application {
  .text--anchor {
    color: var(--v-primary-base);
    cursor: pointer;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: initial;
  }
  .v-data-table {
    table {
      tr {
        td {
          border-bottom: thin solid var(--v-secondary-base) !important;
        }
      }
    }
  }
  .bottom-solid {
    border-bottom: 1px solid var(--v-secondary-base);
  }
  .required {
    label::after {
      content: " *";
      white-space: pre;
      color: red;
    }
  }
}
