.v-application {
  font-family: 'Open Sans', sans-serif;

  .v-data-table {
    thead {
      th {
        background-color: var(--v-table-header-base) !important;
        border-top: thin solid var(--v-table-border-base);
        border-left: thin solid var(--v-table-border-base);
        min-width: 100px;
      }

      th:last-child {
        background-color: var(--v-table-header-base) !important;
        border-top: thin solid var(--v-table-border-base);
        border-left: thin solid var(--v-table-border-base);
        border-right: thin solid var(--v-table-border-base);
      }

      .v-data-table__progress {
        .v-progress-linear {
          height: 25px !important;
        }
      }
    }

    tbody {
      td {
        border-bottom: thin solid var(--v-table-border-base);
        border-left: thin solid var(--v-table-border-base);
        word-break: break-all;
      }

      td:last-child {
        border-bottom: thin solid var(--v-table-border-base);
        border-left: thin solid var(--v-table-border-base);
        border-right: thin solid var(--v-table-border-base);
        word-break: break-all;
      }
    }

    .v-data-footer {
      .v-data-footer__select {
        .v-input__slot:before {
          top: 28px;
          height: 0;
        }

        .v-select {
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }
    }
  }

  .v-dialog {
    .v-alert {
      .v-icon {
        margin-top: 4px;
      }
    }
  }

  .v-toolbar {
    .v-btn__content {
      font-weight: 600;
    }
  }

  .v-navigation-drawer {
    .v-list {
      .v-list-group--active {
        .v-list-group__header {
          border-bottom: thin solid var(--v-table-border-base);
        }
      }
    }
  }
}
