.swal2-container {
  .swal2-popup {
    background-color: var(--v-alert-background-base)
  }

  .swal2-title {
    color: var(--v-alert-text-base);
  }

  .swal2-content {
    color: var(--v-alert-text-base);
    font-weight: 800;
  }
}
