.swal2-container {
  .swal2-popup {
    background-color: var(--v-background-base);
  }

  .swal2-title {
    color: var(--v-text-base);
  }

  .swal2-content {
    color: var(--v-text-base);
    font-weight: 800;
  }
  .swal2-popup {
    &.swal2-toast {
      background-color: var(--v-background-base);
    }
  }
  .swal2-timer-progress-bar {
    background-color: var(--v-text-base);
  }
}
