.vue-grid-layout {
  .vue-resizable {
    .v-card {
      box-sizing: border-box;
      border: 2px solid var(--v-primary-base);
    }

    .vue-resizable-handle {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-right: 10px solid var(--v-secondary-base);
    }
  }
}
